parameters:
	ignoreErrors:
		-
		    message: '/.*/'
		    path: %currentWorkingDirectory%/tests/Integration/Infrastructure/Chat/Slack/SlubBotTest.php
includes:
        - vendor/jangregor/phpstan-prophecy/src/extension.neon
